@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

p {
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
}

.header {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.hero-container {
    width: 1000px;
    display: flex;
    align-items: center;
    padding: 52px 0;
}

h1 {
    color: #f9faf8;
}

.logo {
    font-size: 24px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

button {
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 8px;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    color: white;
}

.hero img {
    width: 600px;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 8px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
}

.footer {
    background-color: #1f2937;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    margin: 30px 0;
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 60px;
    text-align: center;
}

.info {
    max-width: 200px;
}

.info img {
    width: 200px;
    height: 200px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.quote-text {
    display: flex;
    width: 800px;
    flex-direction: column;
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}
h3 {
    align-self: flex-end;
}

.container {
    display: flex;
    justify-content: center;
    margin: 52px 0px;
}

.modal {
    display: flex;
    background-color: #3882f6;
    width: 800px;
    padding: 36px 52px;
    border-radius: 10px;
    gap: 50px;
    justify-content: space-evenly;
}

.little {
    font-size: 20px;
}

.left {
    flex-wrap: wrap;
    color: #e5e7eb;
}

.btn-white {
    border: 1px solid white;
    align-self: flex-end;
}

.footer {
    height: 72px;
    background: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 18px;
}